* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  background-color: #202225;
  color: white;
}
.main-container {
  display: flex;
}
.servers-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 4.5%;
  height: 100vh;
}
.discord-icon img {
  height: 40px;
  border-radius: 15px;
}
.all-servers {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-top: 1px solid rgb(64, 64, 64);
  padding-top: 10px;
}
.server, .add-server, .discover {
  background-color: #36393F;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* friend section  */

.friend-section {
  height: 100vh;
  width: 20%;
  background-color: #2F3136;
}
.search-bar {
  padding:0.9rem;
  padding-bottom: 0.4rem;
}
.search-input {
  background-color: #202225;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}
.friend-navs {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  border-top: 2px solid #202225;
  color: #9e9e9e;
}
.friend, .nitro, .shop {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.friend {
  background-color: #36393F;
}
.friend:hover, .nitro:hover, .shop:hover {
  background-color: #36393F;
}
.fa-user-group {
  font-size: 1.2rem;
}
.user-container {
  padding: 0.5rem;
}
.direct-message {
  display: flex;
  align-items: center;
  margin: 0 0.8rem;
  justify-content: space-between;
}
.direct-text {
  font-size: 0.8rem;
  color: rgb(143, 143, 143);
}
.user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.user:hover {
  background-color: #36393F;
}

/* home container  */

.home-container {
  flex-grow: 1;
  background-color: #323338;
  height: 100vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.84rem;
  border-bottom: 2px solid #202225;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
  color: #9e9e9e;
  cursor: pointer;
  font-weight: 500;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.add-friend {
  color: rgb(0, 207, 28);
}
.friends-nav {
  border-right: 1px solid rgb(80, 80, 80);
  padding-right: 1rem;
}

.home-main {
  display: flex;
  height: 100%;
  flex-grow: 1;
}
.left {
  width: 70%;
  border-right: 1px solid rgb(96, 96, 96);
  background-image: url(./assets/discord-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-bottom: 1px solid rgb(96, 96, 96);

}
.box .text {
  font-weight: 600;
}
.box .para {
  font-size: 0.9rem;
}
.add-friend-input {
  position: relative;
}
.add-friend-input input {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #202225;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
}
.friend-req-button {
  position: absolute;
  background-color: rgb(61, 70, 162);
  border: none;
  outline: none;
  cursor: pointer;
  right: 1rem;
  top: 0.6rem;
  padding: 5px 10px;
  border-radius: 0.2rem;
  color: rgb(166, 166, 166);
  font-weight: 600;
}
.right {
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bg-image img {
  height: 100vh;
  width: 100%;
}
.right-heading {
  font-weight: 700;
  font-size: 1.2rem;
}
.active-container {
  text-align: center;
}
.active-container span {
  font-weight: 700;
}
.active-container p {
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(181, 181, 181);
}